# GLOBAL / OS / IDE

.DS_Store
Thumbs.db
.vscode/
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.spyderproject
.ropeproject


# ENVIRONMENT & SECRETS

.env
*.env
!config_template.env


# CONDUIT-BACKEND (Django/Python)

conduit-backend/__pycache__/
conduit-backend/*.py[cod]
conduit-backend/*$py.class
conduit-backend/*.so
conduit-backend/.Python
conduit-backend/env/
conduit-backend/build/
conduit-backend/develop-eggs/
conduit-backend/dist/
conduit-backend/downloads/
conduit-backend/eggs/
conduit-backend/.eggs/
conduit-backend/lib/
conduit-backend/lib64/
conduit-backend/parts/
conduit-backend/sdist/
conduit-backend/var/
conduit-backend/*.egg-info/
conduit-backend/.installed.cfg
conduit-backend/*.egg
conduit-backend/*.manifest
conduit-backend/*.spec
conduit-backend/pip-log.txt
conduit-backend/pip-delete-this-directory.txt
conduit-backend/htmlcov/
conduit-backend/.tox/
conduit-backend/.coverage
conduit-backend/.coverage.*
conduit-backend/.cache
conduit-backend/nosetests.xml
conduit-backend/coverage.xml
conduit-backend/*,cover
conduit-backend/.hypothesis/
conduit-backend/*.mo
conduit-backend/*.pot
conduit-backend/*.log
conduit-backend/local_settings.py
conduit-backend/instance/
conduit-backend/.webassets-cache
conduit-backend/.scrapy
conduit-backend/docs/_build/
conduit-backend/target/
conduit-backend/.ipynb_checkpoints
conduit-backend/.python-version
conduit-backend/celerybeat-schedule
conduit-backend/venv/
conduit-backend/ENV/
conduit-backend/db.sqlite3
conduit-backend/staticfiles/
conduit-backend/media/


# CONDUIT-FRONTEND (Angular/Node)

conduit-frontend/dist/
conduit-frontend/tmp/
conduit-frontend/out-tsc/
conduit-frontend/node_modules/
conduit-frontend/.angular/cache/
conduit-frontend/.sass-cache/
conduit-frontend/connect.lock
conduit-frontend/coverage/
conduit-frontend/libpeerconnection.log
conduit-frontend/npm-debug.log
conduit-frontend/testem.log
conduit-frontend/typings/
conduit-frontend/yarn-error.log
conduit-frontend/e2e/*.js
conduit-frontend/e2e/*.map