# ----- BACKEND Configuration

# Django settings module
DJANGO_SETTINGS_MODULE=conduit.test_docker

# Django secret key - Security Warning: keep the production key secret!
SECRET_KEY=changeme

# Database / Postgres variables (Django)
POSTGRES_DB=conduit_db
POSTGRES_USER=postgres # leave it as postgres
POSTGRES_PASSWORD=changeme

# This is the name of the Postgres service in Docker Compose
DB_HOST=db
DB_PORT=5432

# ------ Networking Configurations
ALLOWED_HOSTS=0.0.0.0,localhost,127.0.0.1,backend,nginx

# Production address - Autoadded to ALLOWED_HOSTS
DJANGO_HOST=

# CORS is managed by Nginx Reverse Proxy
# The whitelist serves as a secondary security layer
CORS_ORIGIN_WHITELIST=http://localhost:8282,localhost:8282

# Django superuser credentials (Auto-created om forst run)
DJANGO_SUPERUSER_USERNAME=root
DJANGO_SUPERUSER_EMAIL=admin@mail.com
DJANGO_SUPERUSER_PASSWORD=changeme

# To unbuffer the logs: Ensure python output is sent straight to terminal (useful for Docker logs)
PYTHONUNBUFFERED=1