# ----- BACKEND Configuration

# Django secret key - Security Warning: keep the production key secret!
SECRET_KEY=changeme

# Default to False
DEBUG=

# Database / Postgres variables (Django)
POSTGRES_DB=conduit_db
POSTGRES_USER=postgres # leave it as postgres
POSTGRES_PASSWORD=changeme

# This is the name of the Postgres service in Docker Compose
DB_HOST=db
DB_PORT=5432

# ------ Networking Configurations - Add here your production address
ALLOWED_HOSTS=0.0.0.0,localhost,127.0.0.1,backend,nginx

# CORS is managed by Nginx Reverse Proxy
# The whitelist serves as a secondary security layer
CORS_ORIGIN_WHITELIST=http://localhost:8282,localhost:8282

# Django superuser credentials (Auto-created on first run)
DJANGO_SUPERUSER_USERNAME=root
DJANGO_SUPERUSER_EMAIL=admin@mail.com
DJANGO_SUPERUSER_PASSWORD=changeme

# To unbuffer the logs: Ensure python output is sent straight to terminal (useful for Docker logs)
PYTHONUNBUFFERED=1